<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalble=no">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <title>Adminto - <%-name%></title>
        <link rel="stylesheet" href="assets/plugins/morris/morris.css">
        <link href="assets/css/accountManager.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/custom.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link href="assets/css/accountManagerForm.css" rel="stylesheet" type="text/css" />
        <script src="assets/js/modernizr.min.js"></script>
    </head>
    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="/dashboard" class="logo"><span>Rocket<span>Traffic</span></span><i class="zmdi zmdi-layers"></i></a>
                </div>

                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container" style="background: rgba(235, 239, 242, 0.5)">

                        <!-- Page title -->
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button id="btn-left-right" class="button-menu-mobile open-left">
                                    <i class="fa fa-angle-double-left"></i>
                                </button>
                            </li>
                            <li>
                                <h4 class="page-title">Reports</h4>
                            </li>
                        </ul>
                        <!-- Right(Notification and Searchbox -->
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <!-- Notification -->
                                <div class="notification-box">
                                    <ul class="list-inline m-b-0">
                                        <li>
                                            <a href="#" class="right-bar-toggle">
                                                <i class="zmdi zmdi-notifications-none"></i>
                                            </a>
                                            <div class="noti-dot">
                                                <span class="dot"></span>
                                                <span class="pulse"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Notification bar -->
                            </li>
                        </ul>

                    </div><!-- end container -->
                </div><!-- end navbar -->
            </div>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="<%-avatar%>" alt="user-img" title="<%-name%>" class="img-circle img-thumbnail img-responsive">
                            <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                        <h5><a href="#"><%-name%></a> </h5>
                        <ul class="list-inline">
                            <li>
                                <a href="/logout" class="text-custom" id="btn-logout">
                                    <i class="zmdi zmdi-power"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>
                          <li class="text-muted menu-title">Navigation</li>
                            <%-admin%>
                             <li class="parent parent-focus"><a><i class="fa fa-suitcase"></i> <span>Offers</span></a>
                                <ul class="children">
                                    <li>
                                        <a href="/offers?page=1" class="waves-effect"><i class="fa fa-list" hidden="true"></i><span> All Offers </span></a>
                                    </li>
                                    <%-myOffer%>
                                    <%- addOffer%>
                                    <li>
                                        <a href="/offerstest" target="_blank" class="waves-effect subdrop"><i class="fa fa-check" hidden="true"></i> <span> Test Offers </span> </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="/reportclick" class="waves-effect"><i class="fa fa-file-text-o" aria-hidden="true"></i><span> Report Click </span></span></a>
                            </li>
                            <li class="has_sub">
                                <a href="/conversion" class="waves-effect"><i class="fa fa-usd"></i><span> Conversions </span></a>
                            </li>
                            <%-icon%>
                            <%-download%>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page custom-content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container" id="ele-add-Form-search">

                    </div> <!-- container -->
                    <div style="height: 1.5em;">
                    </div>
                    <div class="container">
                      <div class="row mt-4" style="width: 101.5%">
                        <div class="col-lg-12">
                            <div class="panel-heading handle-flex cust-panel-heading">
                                <li class="char-nav-blue" style="flex-grow: 1; list-style:none;"><p style="color:#fff; line-height: 3em; margin-bottom: 0px;">Top Conversion <small style="font-weight: 100; font-size: 10px;">18 Jun 2018 - 25 Jun 2018</small></p></li>                  
                                <a href="#form-advance-filter" class="filter"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Export report</a>
                                <a href="#form-advance-filter" id="filter" class="filter"><i class="fa fa-sliders"></i>&nbsp;&nbsp;&nbsp;Report options <i class="fa fa-angle-down"></i></a>
                            </div>
                            <form class="content-options">
                                <div class="content-options-bdb">
                                    <div class="content-options-selDate">
                                        <h1 class="content-options-title content-options-selDate-title">Date Time</h1>
                                        <div>
                                            <ul class="cotainer-ip-date">
                                                <i class="fa fa-calendar pos-calendar"></i>
                                                <i class="fa fa-angle-down pos-down"></i>
                                                <input type="text" name="dates" class="input-date">
                                                <script>
                                                    var start = moment().subtract(29, 'days');
                                                    var end = moment();
                                                    function cb(start, end) {
                                                    }
                                                    $('input[name="dates"]').daterangepicker({
                                                        startDate: start,
                                                        endDate: end,
                                                        ranges: {
                                                           'Today': [moment(), moment()],
                                                           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                                                           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                                                           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                                                           'This Month': [moment().startOf('month'), moment().endOf('month')],
                                                           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                                                        }
                                                    }, cb);
                                                    cb(start, end);
                                                </script>
                                            </ul>
                                            <ul></ul>
                                        </div>
                                    </div>
                                    <div class="content-options-breakdown">
                                        <h1 class="content-options-title content-options-breakdown-title">Breakdown by</h1>
                                        <div class="content-options-breakdown-form">
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="date-break" type="checkbox" name="date-break" value="date">
                                                    <label for="date-break">Date
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="hour-break" type="checkbox" name="hour-break" value="hour">
                                                    <label for="hour-break">Hour
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="geo-break" type="checkbox" name="geo-break" value="geo">
                                                    <label for="geo-break">Geography
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="platform-break" type="checkbox" name="platform-break" value="platform">
                                                    <label for="platform-break">Platforms
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="id-break" type="checkbox" name="id-break" value="id">
                                                    <label for="id-break">Offer ID
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="name-break" type="checkbox" name="name-break" value="name">
                                                    <label for="name-break">Offer name
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="sub-break" type="checkbox" name="sub-break" value="sub">
                                                    <label for="sub-break">Sub Aff ID
                                                    </label>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="content-options-dataColl">
                                        <h1 class="content-options-title content-options-dataColl-title">Data columns</h1>
                                        <div class="content-options-breakdown-form">
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="click-show" type="checkbox" name="click-show" value="click">
                                                    <label for="click-show">Clicks
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="backTraffic-show" type="checkbox" name="backTraffic-show" value="backTraffic">
                                                    <label for="backTraffic-show">Back traffic
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="conversions-show" type="checkbox" name="conversions-show" value="conversions">
                                                    <label for="conversions-show">Conversions
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="CPA-show" type="checkbox" name="CPA-show" value="CPA">
                                                    <label for="CPA-show">CPA
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="CPC-show" type="checkbox" name="CPC-show" value="CPC">
                                                    <label for="CPC-show">CPC
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="CR-show" type="checkbox" name="CR-show" value="CR">
                                                    <label for="CR-show">CR
                                                    </label>
                                                </div>
                                            </ul>
                                            <ul class="content-options-breakdown-form-block">
                                                <div class="checkbox checkbox-success">
                                                    <input class="checkbox-group" id="revenue-show" type="checkbox" name="CR-show" value="revenue">
                                                    <label for="revenue-show">Revenue
                                                    </label>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="content-options-filters">
                                        <h1 class="content-options-title content-options-filters-title">Filters</h1>
                                        <div>
                                            <ul>
                                                <label class="content-opt-filter-label" for="appIdFind">App ID</label>
                                                <input class="content-opt-filter-ip" type="text" name="appIdFind" placeholder="App ID" id="appIdFind"/>
                                            </ul>
                                            <ul>
                                                <label class="content-opt-filter-label" for="geoFind">Countries</label>
                                                <input class="content-opt-filter-ip" type="text" name="geoFind" placeholder="Geography" id="geoFind"/>
                                            </ul>
                                            <ul>
                                                <label class="content-opt-filter-label" for="platformFind">Platforms</label>
                                                <input class="content-opt-filter-ip" type="text" name="platformFind" placeholder="Platforms" id="platformFind"/>
                                            </ul>
                                            <ul>
                                                <label class="content-opt-filter-label" for="offersFind">Offers</label>
                                                <input class="content-opt-filter-ip" type="text" name="offersFind" placeholder="Offer ID, Offer Name" id="offersFind"/>
                                            </ul>
                                            <ul>
                                                <label class="content-opt-filter-label" for="subaffFind">Sub Aff ID</label>
                                                <input class="content-opt-filter-ip" type="text" name="subaffFind" placeholder="Sub Aff ID" id="subaffFind"/>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-btn-send">
                                    <ul class="content-btn-send-block">
                                        <button class="btn btn-primary"><i class="fa fa-check"></i>Apply</button>
                                    </ul>
                                </div>
                            </form>
                            <div class="content-report" style="background-color: #fff">
                               <div style="overflow-x: auto">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="text-left">
                                                        <a class="sort-column" data-sort="date" title="" href="?sort=date&amp;order=asc&amp;default=1&amp;from=2018-06-18&amp;to=2018-06-25&amp;timezone=&amp;date=1&amp;clicks=1&amp;traffic_back=1&amp;postbacks=1&amp;cpa=1&amp;cr=1&amp;revenue=1&amp;app_id=&amp;sub_aff_ids=" data-original-title="Sort by Date">Date</a>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="text-left">
                                                        <a class="sort-column" data-sort="clicks" title="Sort by Clicks" href="?sort=clicks&amp;order=asc&amp;default=1&amp;from=2018-06-18&amp;to=2018-06-25&amp;timezone=&amp;date=1&amp;clicks=1&amp;traffic_back=1&amp;postbacks=1&amp;cpa=1&amp;cr=1&amp;revenue=1&amp;app_id=&amp;sub_aff_ids=">Clicks</a>
                                                    </div>
                                                    <div class="text-left">
                                                        <a class="sort-column" data-sort="traffic_back" title="Sort by Back traffic" href="?sort=traffic_back&amp;order=asc&amp;default=1&amp;from=2018-06-18&amp;to=2018-06-25&amp;timezone=&amp;date=1&amp;clicks=1&amp;traffic_back=1&amp;postbacks=1&amp;cpa=1&amp;cr=1&amp;revenue=1&amp;app_id=&amp;sub_aff_ids=">Back traffic</a>
                                                    </div>
                                                </th>
                                                <th>
                                                <div class="text-left">
                                                    <a class="sort-column" data-sort="conversions" title="" href="?sort=conversions&amp;order=asc&amp;default=1&amp;from=2018-06-18&amp;to=2018-06-25&amp;timezone=&amp;date=1&amp;clicks=1&amp;traffic_back=1&amp;postbacks=1&amp;cpa=1&amp;cr=1&amp;revenue=1&amp;app_id=&amp;sub_aff_ids=" data-original-title="Sort by Conversions">Conversions</a>
                                                </div>
                                                <div class="text-left">
                                                    <a class="sort-column" data-sort="cr" title="Sort by CR" href="?sort=cr&amp;order=asc&amp;default=1&amp;from=2018-06-18&amp;to=2018-06-25&amp;timezone=&amp;date=1&amp;clicks=1&amp;traffic_back=1&amp;postbacks=1&amp;cpa=1&amp;cr=1&amp;revenue=1&amp;app_id=&amp;sub_aff_ids=">CR</a>
                                                </div>
                                                </th>
                                                <th>
                                                    <div class="text-left">
                                                        <a class="sort-column" data-sort="cpa" title="Sort by CPA" href="?sort=cpa&amp;order=asc&amp;default=1&amp;from=2018-06-18&amp;to=2018-06-25&amp;timezone=&amp;date=1&amp;clicks=1&amp;traffic_back=1&amp;postbacks=1&amp;cpa=1&amp;cr=1&amp;revenue=1&amp;app_id=&amp;sub_aff_ids=">CPA</a>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="text-left">
                                                        <a class="sort-column" data-sort="revenue" title="Sort by Revenue" href="?sort=revenue&amp;order=asc&amp;default=1&amp;from=2018-06-18&amp;to=2018-06-25&amp;timezone=&amp;date=1&amp;clicks=1&amp;traffic_back=1&amp;postbacks=1&amp;cpa=1&amp;cr=1&amp;revenue=1&amp;app_id=&amp;sub_aff_ids=">Revenue</a>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div>2018-06-21</div>                                                    
                                                </td>
                                                <td>
                                                    <div>0</div>
                                                    <div>2</div>
                                                </td>
                                                <td>
                                                    <div>0</div>
                                                    <div>0.00%</div>
                                                </td>
                                                <td>
                                                    <div>$0.00</div>
                                                </td>
                                                <td>
                                                    <div class="font-bold">$0.00</div>                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>2018-06-20</div>                                                    
                                                </td>
                                                <td>
                                                    <div>4</div>
                                                    <div>7</div>                                            
                                                </td>
                                                <td>
                                                    <div>0</div>
                                                    <div>0.00%</div>                                                  
                                                </td>
                                                <td>
                                                    <div>$0.00</div>
                                                                                                        
                                                </td>
                                                <td>
                                                    <div class="font-bold">$0.00</div>                                          
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>2018-06-18</div>                                              
                                                </td>
                                                <td>
                                                    <div>32</div>
                                                    <div>0</div>
                                                    </td>
                                                <td>
                                                    <div>0</div>
                                                    <div>0.00%</div>                                            
                                                    </td>
                                                <td>
                                                    <div>$0.00</div>
                                                </td>
                                                <td>
                                                    <div class="font-bold">$0.00</div>                                                   
                                                </td>
                                            </tr>       
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>
                                                <div class="text-left">
                                                    <span>-</span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="text-left">
                                                    <span>36</span>
                                                        </div>
                                                <div class="text-left">
                                                    <span>9</span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="text-left">
                                                    <span>0</span>
                                                </div>
                                                <div class="text-left">
                                                    <span>
                                                        <div>0.00%</div>
                                                    </span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="text-left">
                                                    <span>$0.00</span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="text-left">
                                                    <span>$0.00</span>
                                                </div>
                                            </th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- content -->
                    
                <footer class="footer text-right">
                    2017 © Van Viet Quoc Anh
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="zmdi zmdi-close-circle-o"></i>
                </a>
                <h4 class="">Notifications</h4>
                <div class="notification-list nicescroll">
                    <ul class="list-group list-no-border user-list">
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-2.jpg" alt="">
                                </div>
                                <div class="user-desc">
                                    <span class="name">Michael Zenaty</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">2 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-info">
                                    <i class="zmdi zmdi-account"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">New Signup</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">5 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-pink">
                                    <i class="zmdi zmdi-comment"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">New Message received</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">1 day ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="#" class="user-list-item">
                                <div class="avatar">
                                    <img src="assets/images/users/avatar-3.jpg" alt="">
                                </div>
                                <div class="user-desc">
                                    <span class="name">James Anderson</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">2 days ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="#" class="user-list-item">
                                <div class="icon bg-warning">
                                    <i class="zmdi zmdi-settings"></i>
                                </div>
                                <div class="user-desc">
                                    <span class="name">Settings</span>
                                    <span class="desc">There are new settings available</span>
                                    <span class="time">1 day ago</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->
        <div class="full-info" id="full-details">
            <div class="bgr-details" id="bgr-details-show">
                <header class="full-info-header">
                    <ul class="full-info-header-title"><h4 class="">Quick info <small class="full-info-header-small">To view full details click "Account details" button below</small></h4></ul>
                    <i class="fa fa-close" id="close-details-app"></i>
                </header>
                <div class="full-info-container">
                    <div class="full-info-container-content">
                        <h3 class="full-info-container-content-title"><span class="max-line" id="index-user"></span><a target="_blank" id="name-account"></a></h3>
                        <div class="container-img">
                            <img class="img-content" id="set-img" src="" alt="Photo User">
                        </div>
                    </div>
                    <div class="full-info-container-description">
                        <!-- <h6>It's ABOUT YOU - hier geht's um Dich!</h6> -->
                        <p id="set-description"></p>
                    </div>
                    <div class="flex-items-content">
                        <div class="full-info-container-infomation">
                            <ul class="full-info-conatainer-content-info-block border-bot-box">
                                <li class="full-info-conatainer-content-info-block-list">
                                    <span class="full-info-conatainer-content-info-block-list-left">Payout</span>
                                    <span class="full-info-conatainer-content-info-block-list-right" id="setPay"></span>
                                </li>
                            </ul>
                            <ul class="full-info-conatainer-content-info-block border-bot-box">
                                <li class="full-info-conatainer-content-info-block-list">
                                    <span class="full-info-conatainer-content-info-block-list-left">Date Register</span>
                                    <span class="full-info-conatainer-content-info-block-list-right" id="dateRegis"></span>
                                </li>
                            </ul>
                            <ul class="full-info-conatainer-content-info-block border-bot-box">
                                <li class="full-info-conatainer-content-info-block-list">
                                    <span class="full-info-conatainer-content-info-block-list-left">Date Confirm</span>
                                    <span class="full-info-conatainer-content-info-block-list-right hidden-text-wrap" id="dateConfirm"></span>
                                </li>
                            </ul>
                            <ul class="full-info-conatainer-content-info-block border-bot-box">
                                <li class="full-info-conatainer-content-info-block-list">
                                    <span class="full-info-conatainer-content-info-block-list-left">Categories</span>
                                    <span class="full-info-conatainer-content-info-block-list-right" id="setCategory"></span>
                                </li>
                            </ul>
                            <ul class="full-info-conatainer-content-info-block border-bot-box">
                                <li class="full-info-conatainer-content-info-block-list">
                                    <span class="full-info-conatainer-content-info-block-list-left">Approval</span>
                                    <span class="full-info-conatainer-content-info-block-list-right">Required</span>
                                </li>
                            </ul>
                            <ul class="full-info-conatainer-content-info-block border-bot-box">
                                <li class="full-info-conatainer-content-info-block-list">
                                    <span class="full-info-conatainer-content-info-block-list-left">Date start/end</span>
                                    <span class="full-info-conatainer-content-info-block-list-right">2018/05/18 - 2021/12/30</span>
                                </li>
                            </ul>
                            <ul class="full-info-conatainer-content-info-block">
                                <li class="full-info-conatainer-content-info-block-list">
                                    <span class="full-info-conatainer-content-info-block-list-left">Landing page</span>
                                    <span class="full-info-conatainer-content-info-block-list-right"><a class="color-green prelink" target="_blank" id="setPrevLink" href="">Preview  <i class="fa fa-external-link-square"></i></a></span>
                                </li>
                            </ul>
                        </div>
                        <div class="restricted-right">
                            <ul class="restricted-traffic">
                                <h6 class="restricted-traffic-title">Restricted traffic</h6>
                                <ul class="restricted-traffic-content">
                                    <li class="restricted-traffic-content-list"><i class="fa fa-close text-red pd-right-1"></i>Adult traffic</li>
                                    <li class="restricted-traffic-content-list"><i class="fa fa-close text-red pd-right-1"></i>Incentivized traffic</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="full-info-footer">
                    <button class="btn-full-info close-btn" id="close-btn"><i class="fa fa-close pd-right"></i> Close</button>
                    <button class="btn-full-info off-detail"><i class="fa fa-bars pd-right"></i> Details</button>
                    <button class="btn-full-info request-offer"><i class="fa fa-shopping-cart pd-right"></i> Request</button>
                </div>
            </div>
        </div>
            

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/detect.js"></script>
        <script src="assets/js/fastclick.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.blockUI.js"></script>
        <script src="assets/js/waves.js"></script>
        <script src="assets/js/jquery.nicescroll.js"></script>
        <script src="assets/js/jquery.slimscroll.js"></script>
        <script src="assets/js/jquery.scrollTo.min.js"></script>
        
        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="assets/plugins/jquery-knob/jquery.knob.js"></script>

        <!--Morris Chart-->
        <script src="assets/plugins/morris/morris.min.js"></script>
        <script src="assets/plugins/raphael/raphael-min.js"></script>

        <!-- Dashboard init -->
        <!-- <script src="assets/pages/jquery.dashboard.js"></script> -->

        <!-- App js -->
        <script src="assets/js/jquery.core.js"></script>
        <script src="assets/js/jquery.app.js"></script>
        <!-- <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script> -->
        <script src="./assets/js/customs/accountManger.js"></script>
        <script src="./javascripts/goToTop.js"></script>
    </body>
</html>